<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    bootstrap="vendor/autoload.php"
    verbose="true"
    colors="true"
>
    <testsuites>
        <testsuite name="Navinator">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>